.intro{
height: 200px;
  text-align: center;

  color: #eeeeee;
  background-color: #222831;
}

.header{
  line-height: 2;

}

.box{
  background-color: #00adb5;
  padding-top: 5%;
  padding-bottom: 7%;
}
